@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "DM Sans", sans-serif;
}
:root{
    --color-txt-primary-light: #0f0f0f;
    --color-txt-secondary-light: #0028db;
    --color-txt-primary-dark: #fff;
    --color-txt-secondary-dark: #838383;


    --background-color-white: #fff;
    --background-color-blue: #0c39ff;
    --background-color-black: #111111;
    --background-color-semiwhite: #f0f5f5e8;
    --background-color-semiblack: #181717;
    --background-color-ultrablack: #0c0c0c;
    --background-color-transparent: #74747450;


    --fontsize-txt-large: 2rem;
    --fontsize-txt-medium: 1.15rem;
    --fontsize-txt-small: 0.8rem;
}
/*MODIFICAR EL TAMAÑO DE LAS VARIABLES*/
@media screen and (max-width: 750px) {
    :root{
        --fontsize-txt-large: 1.5rem;
        --fontsize-txt-medium: 0.9rem;
    }
}
@media screen and (max-width: 490px) {
    :root{
        --fontsize-txt-small: 0.55rem;
    }
}
@media screen and (max-width: 450px) {
    :root{
        --fontsize-txt-large: 1.25rem;
        --fontsize-txt-medium: 0.7rem;
    }
}
@media screen and (max-width: 400px) {
    :root{
        --fontsize-txt-small: 0.45rem;
    }
}
@media screen and (max-width: 350px) {
    :root{
        --fontsize-txt-large: 1rem;
        --fontsize-txt-medium: 0.6rem;
        --fontsize-txt-small: 0.5rem;
    }
}
@media screen and (max-width: 320px) {
    :root{
        --fontsize-txt-small: 0.5rem;
    }
}
@media screen and (max-width: 280px) {
    :root{
        --fontsize-txt-large: 0.85rem;
        --fontsize-txt-medium: 0.55rem;
        --fontsize-txt-small: 0.5rem;
    }
}







.width-0{
    width: 15%;
}
.width-1{
    width: 35%;
}
.width-2{
    width: 45%;
}
.width-4{
    width: 75%;
}
.width-3{
    width: 100%;
}
@media screen and (max-width: 1150px) {
    .width-4{
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .width-0{
        width: 20%;
    }
}
@media screen and (max-width: 630px) {
    .width-2{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .width-0{
        width: 25%;
    }
}
@media screen and (max-width: 450px) {
    .width-0{
        width: 65%;
    }
}





.txt-size-large{
    font-size: var(--fontsize-txt-large);
}
.txt-size-medium{
    font-size: var(--fontsize-txt-medium);
}
.txt-size-small{
    font-size: var(--fontsize-txt-small);
}









.margin-left-large{
    margin-left: 1rem;
}
.margin-left-medium{
    margin-left: 0.5rem;
}
.margin-top-large{
    margin-top: 2rem;
}
.margin-top-medium{
    margin-top: 1rem;
}
.margin-top-extra-large{
    margin-top: 4rem;
}
.margin-top-small{
    margin-top: 0.5rem;
}
@media screen and (max-width: 1100px) {
    .margin-top-large{
        margin-top: 1.5rem;
    }
}
@media screen and (max-width: 700px) {
    .margin-top-large{
        margin-top: 1rem;
    }
}







.flex-direction-row{
    display: flex;
    flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-direction-column{
    display: flex;
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
.align-items-flex-end{
    align-items: flex-end;
}
.align-items-flex-start{
    align-items: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-flex-end{
    justify-content: flex-end;
}





.font-weight-large{
    font-weight: 900;
}
.font-weight-medium{
    font-weight: 600;
}
.font-weight-small{
    font-weight: 500;
}